.storyPicture {
  width: 200px;
}

.story {
  margin-bottom: 40px;
}

button.addStory {
  background: #394b59;
  color: #fff;
  padding: 10px 20px;
  outline: none;
}

button.addStory:hover {
  background: #5c7080;
}
