.navbar {
  background: #5c7080;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-left: 85px;
  padding-right: 85px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.logo {
  padding: 15px;
}

.logo a {
  font-size: 18px;
}

.nav {
  list-style-type: none;
}

.nav li {
  margin-right: 25px;
}
